:root {
  --dark-blue: #201c2c;
  --purple: #9a8aff;
  --blue: #32284d;
}

body {
  background-color: var(--dark-blue);
  color: #fff;
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.nav-link:hover {
  color: var(--purple);
}

.fa-bars {
  color: #fff;
}

.main-first-text {
  font-weight: 600;
}

.main-button {
  background-color: var(--purple);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 20px;
}

.carousel-control {
  width: 10px;
  height: 10px;
  background: white;
  border-color: white;
  border-radius: 50%;
  opacity: 1;
}

.carousel-control.active {
  background-color: var(--purple);
  border-color: var(--purple);
}

.main-second-text {
  font-weight: 500;
}

.launch {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 6rem;
  position: relative;
}

.launch-img-center {
  position: absolute;
  width: 500px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (max-width: 991px) {
  .launch {
    justify-content: center;
    gap: 3rem;
  }

  .launch-img-center {
    position: static;
    width: 65%;
    top: auto;
    left: auto;
    transform: none;
  }
}

@media (max-width: 767px) {
  .launch-img {
    width: 90%;
  }

  .launch-img-center {
    width: 90%;
  }
}

.sale {
  margin-top: 3rem;
  background-color: var(--purple);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.sale-card {
  background-color: var(--blue);
  border-radius: 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sale-text-col__subheading {
  font-size: 1.75rem;
}

.sale-text-col__button {
  margin-top: 2rem;
  background-color: #fff;
  color: var(--dark-blue);
  border-radius: 20px;
  font-weight: 700;
}

.sale-text-col__button:hover {
  background-color: var(--dark-blue);
  color: #fff;
  border-radius: 20px;
}

.logo-button {
  display: block;
}

.footer {
  background-color: var(--footer-gray);
  padding-top: 1.5rem;
}

.footer-first__button {
  border: 1px solid rgb(177, 176, 176);
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #fff;
  color: #024685;
  font-weight: 700;
}

.footer-first__button:hover {
  background-color: #024685;
  color: #fff;
}

.footer-col__heading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.footer-col__list {
  list-style-type: none;
  padding-left: 0;
}

.footer-col__item {
  text-align: start;
}

.footer-col__link {
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
}

.footer-col__link:hover {
  color: var(--purple);
}

.footer-col__text {
  font-size: 0.9rem;
}

.footer-col__text--modified {
  font-size: 0.8rem;
  font-weight: 500;
}

.footer-col--last {
  padding-top: 1rem;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }

  .footer-col__item {
    text-align: center;
  }
}

.footer-socials {
  list-style-type: none;
  padding-left: 0;
}

.footer-socials__link {
  color: #fff;
}

.footer-socials__link:hover {
  color: var(--purple);
}

.copyright {
  margin-top: 1.56rem;
  font-size: 0.9rem;
  color: #fff;
}
